version: "3"
services:
  portfolio_web_site:
    container_name: portfolio_web_site
    build:
      context: ./
    ports:
      - 3000:3000
    volumes:
      - .:/portfolio_web_site
    tty: true
    stdin_open: true
    # Hot Module Replacement (HMR) is enable for virtual box.
    environment:
      - CHOKIDAR_USEPOLLING=true
